<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bootstrap Timeline</title>


    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootbox.js"></script>
    <script src="https://unpkg.com/vue"></script>

</head>

<body>

    <div id="app">
        <p>Username: {{ user }} </p>


        <input type="text" placeholder="Message" autofocus class="text-input" v-model="message">
        <input type="text" placeholder="Translation" autofocus class="text-input" v-model="translation">
        <button v-on:click="sendMessage">Send</button>

        <div class="container">
            <div class="page-header">
                <h1 id="timeline">L'Adventure de Francais</h1>
            </div>
            <ul class="timeline" id="tl">

                <li v-for="(item,index) in message_list" >
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-heart"></i></div>
                        <div class="timeline-panel">
                        <div class="timeline-body">


                        {{ item.message }} <button v-on:click="removeMessage(index,item.author,item.message_id)">reject</button>
                        <ul>
                            <li v-for="edit in edit_list[item.message_id]"> {{ edit.message }}
                            <button v-on:click="acceptEdit(edit.message_id,edit.exit_id,edit.message)">accept</button> 
                            </li>
                        </ul>
                        <edit-form v-on:event_child="sendEdit" :message_id=item.message_id :author_id=item.author></edit-form>
                        </div>
                    </div>
                </li>
            </ul>
        
        </div>
        
        <pre>{{ $data }}</pre>
                                                                                            

    </div>



    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

    <script>
        AUTOBAHN_DEBUG = false;
    </script>
    <script src="js/autobahn.min.js"></script>

</div>

    <script>
        console.log("Runnning on AutobahnJS ", autobahn.version);

        // the URL of the WAMP Router (Crossbar.io)
        //
        var wsuri;
        if (document.location.origin == "file://") {
            wsuri = "ws://127.0.0.1:8080/ws";

        } else {
            wsuri = (document.location.protocol === "http:" ? "ws:" : "wss:") + "//" +
                document.location.host + "/ws";
        }


        // the WAMP connection to the Router
        //
        var connection = new autobahn.Connection({
            url: wsuri,
            realm: "realm1"
        });


        // fired when connection is established and session attached
        //
        connection.onopen = function(session, details) {


            var editForm = {
                props: ['message_id','author_id'],
                
                       template: '<div> <input v-model="message"> <button  v-on:click="emit">Send Edit</button> </div>',
                
                data: function () {
                      return {
                              message: "Put your edit here",
                      }
                },
                methods: {
                    emit: function() {
                                    alert('Sending');
                                    this.$emit('event_child',this.message_id,this.author_id,this.message);
                              }
                }
                    
            }

            



            var v = new Vue({
                el: '#app',
                components: {
                    'edit-form': editForm,
                },
                data: {
                    user: session.id,
                    room: 0,
                    message: '',
                    translation: '',
                    message_list: [],
                    suggestion_list: {},
                    edit_list : {}
                },
                
                methods: {
                    //acceptEdit: function(edit.message_id,edit.exit_id,edit.message)
                    //{
                    //    // Update Local Record
                    //    // Forward Update to All Listeners
                    //},
                    sendEdit: function(message_id,author_id,message)
                    {
                        var message_data = {};
                        message_data['author'] = author_id;
                        message_data['message'] = message;
                        message_data['message_id'] = message_id
                        message_data['edit_id'] = 'edit-' +  '-' + this.room + '-' + Date.now();
                        
                        session.publish('chat.on_suggestion.'+author_id, [message_data]);
                        this.suggestion_list=  Object.assign({}, this.suggestion_list, {[message_id]:message_data});
                        var KEY = message_id;
                        if (!(KEY in this.edit_list)) 
                        {this.edit_list[KEY] = [];    }
                
                        this.edit_list[KEY].push(message_data);    
                    },

                    removeMessage: function(index,author,message_id) {
                        this.message_list.splice(index, 1);
                        alert(author);
                        alert(message_id);
                    },

                    sendMessage: function() {
                        var message = this.message.trim();
                        var translation = this.translation.trim();

                        var message_data = {};
                        message_data['author'] = this.user;
                        message_data['message'] = message;
                        message_data['translation'] = translation;
                        message_data['message_id'] = 'msg-' + this.user + '-' + this.room + '-' + Date.now()
                        message_data['class'] = ""

                        session.publish('chat.on_message', [message_data]);
                        message_data['class'] = "timeline-inverted"
                        this.message_list.push(message_data);
                    }
                }




            })


            console.log("Connected: ", details);

            // SUBSCRIBE to a topic and receive events
            //
            function on_message(args) {
                var data = args[0];
                console.log("on_message() event received with data ")
                console.log(data);
                    v.message_list.push(data);
            }

            session.subscribe('chat.on_message', on_message).then(
                function(sub) {
                    console.log('subscribed to topic');
                },
                function(err) {
                    console.log('failed to subscribe to topic', err);
                }
            );

            // SUBSCRIBE to a topic and receive events
            //
            function on_suggestion(args) {
                var data = args[0];
                console.log("on_suggestion() event received with data ");
                v.suggestion_list =  Object.assign({}, v.suggestion_list, {[data['message_id']]:data});
                var KEY = data['message_id'];
                if (!(KEY in v.edit_list)) 
                {v.edit_list[KEY] = [];    }
                v.edit_list[KEY].push(data);
            }

            session.subscribe('chat.on_suggestion.' + v.user, on_suggestion).then(
                function(sub) {
                    console.log('subscribed to topic chat.edit.' + session.id);
                },
                function(err) {
                    console.log('failed to subscribe to topic chat.edit', err);
                }
            );

        };



        // fired when connection was lost (or could not be established)
        //
        connection.onclose = function(reason, details) {
            console.log("Connection lost: " + reason);
            if (t1) {
                clearInterval(t1);
                t1 = null;
            }
            if (t2) {
                clearInterval(t2);
                t2 = null;
            }
        }


        // now actually open the connection
        //
        connection.open();
    </script>
</body>

</html>
